.main_wrapper {
  margin-top: 100px;


  .header_myAccount {
    &:hover .Dropdowncontent {
      display: block;
      // flex-direction: column
    }

  }

  .Dropdown {
    position: relative;
    display: inline-block;


    .Dropdowncontent::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border: 8px solid transparent;
      border-top-color: orange;
      border-bottom: 0;
      margin-left: -8px;
      z-index: 0;
      top: -10px;
      transform: rotate(180deg);
    }

    /* White part of the caret */
    .Dropdowncontent::after {
      content: "";
      position: absolute;
      bottom: calc(100% + 0px);
      left: 50%;
      border: 6px solid transparent;
      border-top-color: white;
      border-bottom: 0;
      margin-left: -6px;
      z-index: 1;
      transform: rotate(180deg);
    }


    .Dropdowncontent {
      border-top: 2px solid orange;
      display: none;
      position: absolute;
      min-width: 200px;
      box-shadow: 0px 8px 16px 10px rgba(0, 0, 0, 0.2);
      z-index: 1;
      background-color: #f9f9f9;
      box-sizing: border-box;
      margin-top: 32px;
      right: -70px;
      padding: 20px;

      span {
        display: block;
        color: #3d4512;
        margin-bottom: 10px;

        &:hover {
          // color: red;
          color: rgba(2, 6, 12, 0.92);
          font-weight: 600;
        }

      }

    }

    .Dropdowncontent a {
      box-sizing: border-box;
      width: 80%;
      padding: 10px 15px;
      display: inline-block;
    }


  }



}